<app-navbar></app-navbar>

<div class="profile-container">

  <h1>Profil utilisateur</h1>

  <!-- Formulaire -->
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-form">

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Sauvegarder
    </button>

  </form>

  <hr>

  <!-- Liste des abonnements -->
  <div class="subscriptions">

    <h2>Abonnements</h2>

    <div class="topics-grid">

      <app-topic-profile *ngFor="let topic of topics" [topic]="topic" (unsubscribed)="unsubscribe($event)">
      </app-topic-profile>

    </div>
  </div>
</div>