.title {
  height: 44px;
}

/* Titre et formulaire */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; /* espace sous le bandeau */

  h1 {
    margin-bottom: 19px; /* espace avant formulaire */
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px; /* espace entre champs */

    width: 100%;
    max-width: 360px; /* largeur max formulaire */
    padding: 0 16px; /* marge intérieure responsive */

    button {
      margin-top: 16px;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {

  /* ❌ cacher le header */
  .header {
    display: none;
  }

  /* ✅ flèche en haut gauche */
  .back-arrow {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 24px;
  }

  /* ✅ logo centré */
  .mobile-logo {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .mobile-logo img {
    height: 60px;
  }

  /* ✅ padding global */
  .login-container {
    padding: 0 34px;
  }
}
