<app-navbar></app-navbar>

<div class="back-arrow" title="Retour"><a routerLink="/">&larr;</a></div>

<div class="login-container">
  <h1 class="title">Se connecter</h1>
  <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
    <mat-label class="label">E-mail ou nom d'utilisateur</mat-label>
    <mat-form-field class="input">
      <input matInput formControlName="login" required>
    </mat-form-field>

    <mat-label class="label">Mot de passe</mat-label>
    <mat-form-field class="input">
      <input matInput type="password" formControlName="password" required>
    </mat-form-field>

    <div class="divbutton">
    <button mat-raised-button color="primary" type="submit" class="button2">Se connecter</button>
    </div>
  </form>
</div>
