<header class="top-bar">
  <div class="logo"><img src="/assets/logo_p6.png" alt="Logo de Monde de dev"></div>
  <nav class="menu">
    <a class="logout" (click)="logout()">Se déconnecter</a>
    <a routerLink="/feed" routerLinkActive="active-link">Articles</a>
    <a routerLink="/topics" routerLinkActive="active-link">Thèmes</a>
    <span class="user-icon"><a routerLink="/profile" routerLinkActive="active-link">
      <img [src]="isProfilePage() ? '/assets/user-active.png' : '/assets/user.png'" alt="Avatar de l'utilisateur"></a>
    </span>
  </nav>
</header>